<div class="container">
    <div class="row">
        <div class="col-md-6 mb-3">
            <h5>Sobre MotoGP</h5>
            <p class="texto">¡Mantente al día con las últimas noticias, eventos y resultados del mundo de MotoGP!</p>
        </div>
        <div class="col-md-6">
            <h5>Suscríbete a nuestras noticias</h5>
            <form id="formulario">
                <div class="mb-3">
                    <label for="email" class="form-label">Correo Electrónico</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="tuemail@ejemplo.com" required autocomplete="on">
                </div>
                <button type="submit" class="btn btn-custom">Suscribirse</button>
            </form>
        </div>
    </div>
    <hr class="my-4">
    <div class="text-center">
        <p>&copy; 2025 MotoGP. Todos los derechos reservados.</p>
    </div>
</div>